body {
    margin: 0;
    font-family: 'Segoe UI';
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 38px;
}

.subtitle {
    color: #ccc;
    margin-bottom: 20px;
}

/* Upload Area */
.upload-area {
    border: 2px dashed #00ffcc;
    padding: 30px;
    margin: 20px auto;
    width: 300px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.upload-area:hover {
    background: rgba(255,255,255,0.05);
}

/* Button */
button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: #00ffcc;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

/* Preview */
.preview img {
    max-width: 250px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* Loader */
.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #00ffcc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px auto;
    animation: spin 1s linear infinite;
}

.hidden {
    display: none;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

/* Result Card */
.result-card {
    margin-top: 20px;
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
}

.result-card h2 {
    font-size: 24px;
}

.result-card p {
    color: #ccc;
}