<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mango Disease Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>🌿 Mango Leaf Anthracnose Disease Detection</h1>
    <p class="subtitle">AI-powered plant health analysis</p>

    <!-- Upload Box -->
    <div class="upload-area" id="drop-area">
        <p>📂 Drag & Drop Image Here</p>
        <p>or</p>
        <input type="file" id="fileInput" hidden>
        <button onclick="document.getElementById('fileInput').click()">Choose File</button>
    </div>

    <!-- Preview -->
    <div class="preview">
        <img id="previewImage" src="">
    </div>

    <!-- Loader -->
    <div id="loader" class="loader hidden"></div>

    <!-- Result -->
    <div id="resultCard" class="result-card hidden">
        <h2 id="resultText"></h2>
        <p id="confidenceText"></p>
    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>